/* this file is only for the generic css rules, if you are creating a component or a view create a new .css and write the specific rules in there */

:root {
    --dark: #0055ff00;
    --dark-text: #eb450300;
    --light-text: #0099ff00;
    --stroke: #00fa0000;
    --darker-bg: #482d2d00;
    --bg: #9900ff00;
}

@font-face {
    font-family: "Mazzard Soft H Regular";
    src: url("fonts/MazzardSoftH-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mazzard Soft H Bold";
    src: url("fonts/MazzardSoftH-ExtraBold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg) !important;
}

.title {
    font-family: "Mazzard Soft H Bold";
    font-size: 64px;
    color: var(--dark-text);
}

.textShadow {
    text-shadow: 0px 5px 7px var(--light-text);
}

.passwordLabel {
    z-index: 999 !important;
}

.centerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.customInput {
    border-radius: 30px;
    box-shadow: 0px 5px 10px var(--light-text);
    padding: 15px;
    z-index: 999;
    background-color: var(--bg);
    color: var(--light-text);
    font-family: "Mazzard Soft H Regular";
    border: 1px solid var(--stroke);
}

.customInput:focus {
    color: var(--light-text);
}

.customInput::placeholder {
    color: var(--light-text);
}

.customInput:focus::placeholder {
    color: var(--light-text);
}

.centerCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.customButton {
    border-radius: 30px !important;
    padding: 15px !important;
    background-color: var(--light-text) !important;
    color: var(--bg) !important;
    font-size: 2rem !important;
    font-family: "Mazzard Soft H Regular" !important;
}

.customButton:hover {
    background-color: var(--dark-text);
    color: var(--bg);
}

/*------ Settings ------*/
.iconContainer {
    --color: var(--dark-text);
    --size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    border: none;
    box-shadow: 0px 5px 10px var(--light-text);
}

.eye {
    display: none;
}

.eye-slash {
    display: block;
}

.iconContainer .eye {
    position: absolute;
    animation: keyframes-fill 0.5s;
}

.iconContainer .eye-slash {
    position: absolute;
    animation: keyframes-fill 0.5s;
}

/* ------ Hide the default checkbox ------ */
.iconContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }
}

.settingsList {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    list-style: none;
    flex-direction: column;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.smallTitle {
    font-family: "Mazzard Soft H Regular";
    font-size: 32px;
    color: var(--dark-text);
}

.radioGroup > label {
    border: 1px solid var(--stroke);
    background-color: var(--bg);
    color: var(--dark-text);
    font-family: "Mazzard Soft H Regular";
}

.radioGroup > label:hover {
    border: 1px solid var(--stroke);
    background-color: var(--dark) !important;
    color: var(--bg) !important;
}

.list-group-item {
    background-color: var(--bg) !important;
    color: var(--light-text) !important;
}

.selected {
    background-color: var(--dark) !important;
    color: var(--bg) !important;
}

.customFileInput {
    font-family: "Mazzard Soft H Regular";
    font-weight: 100;
    border: 1px solid var(--stroke);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.customFileInput::-webkit-file-upload-button {
    border: none;
    border-right: 1px solid var(--stroke);
    background-color: var(--bg);
    margin-right: 5px;
    cursor: pointer;
}

.dialog {
    display: flex !important;
    justify-content: center !important;
}

.modal-content {
    background-color: var(--bg) !important;
    color: var(--light-text) !important;
    border: 1px solid var(--stroke) !important;
    border-radius: 15px !important;
}

.customSmallButton {
    border-radius: 25px !important;
    padding: 15px !important;
    background-color: var(--light-text) !important;
    color: var(--bg) !important;
    font-size: 1rem !important;
    font-family: "Mazzard Soft H Regular" !important;
    width: 6rem;
}

.customSmallButton:hover {
    background-color: var(--dark-text);
    color: var(--bg);
}

.modal-footer {
    justify-content: space-around !important;
}

.main {
    margin-bottom: 100px;
}

.cancelButton {
    background-color: var(--light-text) !important;
    color: var(--bg) !important;
}

.createButton {
    background-color: var(--dark-text) !important;
    color: var(--bg) !important;
}

.cancelButton:hover, .createButton:hover {
    background-color: var(--dark) !important;
    color: var(--bg) !important;
}
