@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

@font-face {
    font-family: 'Mazzard Soft H Regular';
    src: url('fonts/MazzardSoftH-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard Soft H Bold';
    src: url('fonts/MazzardSoftH-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg);
    height: 100vh;
}

main {
}

nav {
    height: 50px;
    border-bottom: 1px solid var(--light-text);
}

h1 {
    font-family: 'Mazzard Soft H Bold', sans-serif;
    font-size: 32px;
    margin: unset;
    color: var(--dark);
}

figcaption{
    font-family: 'Mazzard Soft H Bold', sans-serif;
    font-size: 32px;
    margin: unset;
    color: var(--dark);
}

.navbar-icon{
    border-radius: 100px;
    font-size: 22px;
    background-color: var(--bg) !important;
    color: var(--dark) !important;
}

.navbar-icon.active {
    background-color: var(--dark) !important;
    color: var(--darker-bg) !important;
}

img{
    object-fit: cover;
}

/*Bootstrap override*/
.carousel{
    max-height: 300px;
    max-width: 600px;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.carousel > div > div > img{
    max-height: 300px;
    max-width: 90vw;
    object-fit: cover;
}

.search-input{
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 2px;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.search-input ~ input[type='search']:focus{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

input[type='search']{
    border: unset;
    box-shadow: unset;
}

input[type='search']:active,input[type='search']:focus-visible,input[type='search']:focus{
    border: unset;
    box-shadow: unset;
    outline: unset;
}

/* Product filtering */
.search-container{
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.search-container > li > div > div{
    display: flex;
    align-items: center;
    gap: 10px;
    align-content: center;
}

.search-container > li > div {
    border-bottom: 1px solid var(--light-text);
}

.search-container > li > div > div > img{
    max-width: 70px;
    max-height: 70px;
}

.search-container > li > div > div > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.search-container > li > div > div > div > form > button{
    border-radius: 100px;
}

.search-container > li > div > div > div > form > button{
    border-radius: 100px;
}

.search-container > li > div > div > div > form > button > i{
    font-size: 26px;
}

:where(.ui-wheel-of-fortune) {
    --_items: 12;
    all: unset;
    aspect-ratio: 1 / 1;
    container-type: inline-size;
    direction: ltr;
    display: grid;
    position: relative;
    width: 100%;
    &::after {
        aspect-ratio: 1/cos(30deg);
        background-color: crimson;
        clip-path: polygon(50% 100%,100% 0,0 0);
        content: "";
        height: 4cqi;
        position: absolute;
        place-self: start center;
        scale: 1.4;
    }

    & > * { position: absolute; }

    button {
        aspect-ratio: 1 / 1;
        background: hsla(0, 0%, 100%, .8);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 5cqi;
        place-self: center;
        width: 20cqi;
    }

    ul {
        all: unset;
        clip-path: inset(0 0 0 0 round 50%);
        display: grid;
        inset: 0;
        place-content: center start;

        li {
            align-content: center;
            aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
            background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            display: grid;
            font-size: 5cqi;
            grid-area: 1 / -1;
            padding-left: 1ch;
            rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
            transform-origin: center right;
            user-select: none;
            width: 50cqi;

            &:nth-of-type(1) { --_idx: 1; }
            &:nth-of-type(2) { --_idx: 2; }
            &:nth-of-type(3) { --_idx: 3; }
            &:nth-of-type(4) { --_idx: 4; }
            &:nth-of-type(5) { --_idx: 5; }
            &:nth-of-type(6) { --_idx: 6; }
            &:nth-of-type(7) { --_idx: 7; }
            &:nth-of-type(8) { --_idx: 8; }
            &:nth-of-type(9) { --_idx: 9; }
            &:nth-of-type(10) { --_idx: 10; }
            &:nth-of-type(11) { --_idx: 11; }
            &:nth-of-type(12) { --_idx: 12; }
        }
    }
}

.types-container button{
    border-radius: 100px;
    border: 1px solid var(--dark-text);
    color: var(--dark);
    background-color: var(--bg);
}

.types-container button.active{
    background-color: var(--dark-text);
    color: var(--bg);
}
.accordion,
.accordion-button,
.accordion-collapse,
.accordion-item,
.accordion-header,
.accordion-body,
.accordion-flush,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: var(--bg);
    color: var(--dark);
}

.accordion-button::after , .btn-close{
    /* special thanks to boostrap for being the best at his job! thank you for setting the icon
        of the accordion button to an image, thank you so much! */
    filter: invert(50%) sepia(0%) saturate(0%) brightness(60%) contrast(100%);
}
