@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

@font-face {
    font-family: 'Mazzard Soft H Regular';
    src: url('fonts/MazzardSoftH-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard Soft H Bold';
    src: url('fonts/MazzardSoftH-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg);
    height: 100vh;
}

main {
}

nav {
    height: 50px;
    border-bottom: 1px solid var(--light-text);
}

h1 {
    font-family: 'Mazzard Soft H Bold', sans-serif;
    font-size: 32px;
    margin: unset;
    color: var(--dark);
}

figcaption{
    font-family: 'Mazzard Soft H Bold', sans-serif;
    font-size: clamp(32px, 5vw, 4rem);
    margin: unset;
    color: var(--dark);
    width: 150%; /* Larghezza relativa all'immagine */
    text-align: center; /* Per centrare il testo */
    position: relative;
}

.navbar-icon{
    border-radius: 100px;
    font-size: 22px;
    background-color: var(--bg) !important;
    color: var(--dark) !important;
}

.navbar-icon.active {
    background-color: var(--dark) !important;
    color: var(--darker-bg) !important;
}

img{
    object-fit: cover;
}

/*Bootstrap override*/
.carousel{
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0px;
    width: 100%;
}


.carousel-inner{
    max-height: 300px;
    max-width: 300px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.carousel-item{
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
}

.imgCarouselMobile{
    max-height: 300px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px !important;
}

.search-input{
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 2px;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.search-input ~ input[type='search']:focus{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

input[type='search']{
    border: unset;
    box-shadow: unset;
}

input[type='search']:active,input[type='search']:focus-visible,input[type='search']:focus{
    border: unset;
    box-shadow: unset;
    outline: unset;
}

/* Product filtering */
.search-container{
    list-style: none;
    padding: 10px;
}

.search-container > li  > section{
    display: flex;
    align-items: center;
    gap: 10px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container > li  {
    border-bottom: 1px solid var(--light-text);
    margin-bottom: 10px;
}

.search-container > li > section > figure > img{
    max-width: 70px;
    max-height: 70px;
}

.search-container > li > section{
    margin-bottom: 10px;
}

.search-container > li > section > figure{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    margin: 0px;
}

.userNavBarMobile{
    height: 100px !important;
}

.search-container > li > section > div > form > button{
    border-radius: 100px;
}

.productText{
    width: fit-content;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.productCartActions{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

:where(.ui-wheel-of-fortune) {
    all: unset;
    aspect-ratio: 1 / 1;
    container-type: inline-size;
    direction: ltr;
    display: grid;
    position: relative;
    width: 100%;
    &::after {
        aspect-ratio: 1/cos(30deg);
        background-color: crimson;
        clip-path: polygon(50% 100%,100% 0,0 0);
        content: "";
        height: 4cqi;
        position: absolute;
        place-self: start center;
        scale: 1.4;
    }

    & > * { position: absolute; }

    ul {
        all: unset;
        clip-path: inset(0 0 0 0 round 50%);
        display: grid;
        inset: 0;
        place-content: center start;

        li {
            align-content: center;
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            display: grid;
            font-size: 5cqi;
            grid-area: 1 / -1;
            padding-left: 1ch;
            transform-origin: center right;
            user-select: none;
            width: 50cqi;
        }
    }
}

.types-container button{
    border-radius: 100px;
    border: 1px solid var(--dark-text);
    color: var(--dark);
    background-color: var(--bg);
}

.types-container button.active{
    background-color: var(--dark-text);
    color: var(--bg);
}
.accordion,
.accordion-button,
.accordion-collapse,
.accordion-item,
.accordion-header,
.accordion-body,
.accordion-flush,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: var(--bg);
    color: var(--dark);
}

.accordion-button::after , .btn-close{
    /* special thanks to boostrap for being the best at his job! thank you for setting the icon
        of the accordion button to an image, thank you so much! */
    filter: invert(50%) sepia(0%) saturate(0%) brightness(60%) contrast(100%);
}

.dashboard-layout{
    display: flex;
    flex-direction: row;
}

.dashboard-layout > section{
    flex-grow: 1;
}

.dashboard-layout > aside{
    width: 100%;
    max-width: 370px;
    padding: 20px;
}
