@media only screen and (max-width: 570px) {
    .title{
        font-size: 48px;
    }

    .smallTitle{
        font-size: 24px;
    }

    .nav-bar{
        height: 100px !important;
    }

    .nav-bar > img{
        margin-top: 21px !important;
    }

    .singleNews , .plusIcon{
        height: 150px !important;
    }

    .deleteNewsIcon , .plusIcon > i{
        font-size: 48px !important;
    }

    .navTitle{
        margin-right: -40px !important;
    }

    .customButton{
        font-size: 1rem !important;
    }

    .ImagePreview {
        width: 250px !important;
        height: 250px !important;
    }

    
    .iconButton{
        font-size: 32px !important;
    }

    .formIconContainer{
        
        width: 48px !important;
        height: 48px !important;
        margin-left: 5px !important;
    }

    .fullHeight{
        height: calc(100vh - 200px) !important;
    }
}

@media only screen and (max-width: 470px) {
    .input-group, .inputgroup{
        height: 50px !important;
    }

    .form-control{
        height: 50px !important;
    }

    .customInput{
        padding: 10px !important;
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 380px) {
    .input-group, .inputgroup{
        height: 50px !important;
    }

    .form-control{
        height: 50px !important;
    }

    .customInput{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 0px !important;
        padding-right: 5px !important;
        font-size: 15px !important;
    }

    .maxLenght{
        max-width: 100px !important;
    }

    .productImage{
        margin-right: 10px !important;
    }

    .actions{
        padding: 0px !important;
    }
}


@media only screen and (max-width: 350px) {
    .title{
        font-size: 28px;
    }

    .smallTitle{
        font-size: 20px;
    }

    .nav-bar{
        height: 80px !important;
    }

    .nav-bar > img{
        margin-top: 19px !important;
    }

    .singleNews , .plusIcon{
        height: 120px !important;
    }

    .deleteNewsIcon , .plusIcon > i{
        font-size: 40px !important;
    }

    .navTitle{
        margin-right: -20px !important;
    }

    .ImagePreview {
        width: 150px  !important;
        height: 150px  !important;
    }

}
