@media only screen and (min-width: 1260px){
    .offcanvas{
        width: 40% !important;
    }
}

@media only screen and (max-width: 1260px) and (min-width: 768px) {
    /* .actions > form > button > i , .actions > form > button > svg{
        font-size: 20px !important;
    } */

    .offcanvas{
        width: 52% !important;
    }

    .singleProduct{
        flex-wrap: wrap !important;
        justify-content: center !important;
        height: fit-content !important;
    }

    .form-control{
        /*padding: 0px !important;*/
        padding-top: 12px !important;
        padding-bottom: 8px !important;
        font-size: 18px !important;
    }

    .loginCustomInput{
        padding: 15px !important;
    }

    .passToggle{
        height: 60px !important;
    }

    .iconButton{
        width: 42px !important;
        height: 42px !important;
        font-size: 32px !important;
    }

    .searchBarContainer{
        width: 90% !important;
    }

    .searchBar{
        padding: 0px !important;
    }

    .actions{
        padding: 0px !important;
    }

    .ImagePreview {
        width: 250px !important;
        height: 250px !important;
    }

    .navigationDesktop{
        width: 70% !important;
    }

    .navTitleContainer >  h1{
        font-size: 48px !important;
        width: fit-content;
    }

    .navTitleContainer{
        width: 300px;
        text-align: end;
    }

    .userMagicButton{
        height: 56px !important;
        width: 56px !important;
    }


}

@media only screen and (min-width: 571px) and (max-width: 767px) {


    .gallery{
        grid-template-columns: repeat(100, 200px) !important;
        height: 200px !important;
    }

    .carouselItem{
        width: 200px !important;
        height: 175px !important;
    }


    .navigationDesktop{
        width: 100% !important;
    }

    .orderImage{
        margin-bottom: 20px;
    }

    .navTitleContainer >  h1{
        font-size: 30px !important;
        width: fit-content;
    }

    .nav-bar > img{
        height: 70% !important;
    }

    .navTitleContainer{
        width: 180px;
        text-align: end;
    }

    .offcanvas{
        width: 70% !important;
    }

    .ImagePreview {
        width: 250px !important;
        height: 250px !important;
    }

    .passToggle{
        height: 65px !important;
    }

    .navTitle{
        position: unset !important;
        font-size: 40px;
    }

    .listContainer > li{
        max-width: 100% !important;
        width: 100%;
        flex-wrap: wrap;
        height: fit-content !important;
        justify-content: center !important;
    }

    .listContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 571px) {


    .gallery{
        grid-template-columns: repeat(100, 200px) !important;
        height: 200px !important;
    }

    .carouselItem{
        width: 200px !important;
        height: 175px !important;
    }

    .orderImage{
        margin-bottom: 20px;
    }

    .navigationDesktop{
        width: 100% !important;
    }

    .nav-bar{
        justify-content: normal !important;
    }

    .navTitleContainer >  h1{
        font-size: 24px !important;
        width: fit-content;
    }

    .nav-bar > img{
        height: 70% !important;
        margin-top: 53px !important;
    }

    .navTitleContainer{
        width: 150px;
    }

    .navTitle{

        position: unset !important;
        font-size: 40px !important;
    }
    .listItemDesktop{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: fit-content !important;
    }

    .passToggle{
        height: 50px !important;
    }
}

@media only screen and (max-width: 570px) {

    .iconButton{
        width: 42px !important;
        height: 42px !important;
        font-size: 32px !important;
    }

    .checkoutButton{
        width: 56px !important;
        height: 56px !important;
    }

    .title{
        font-size: 48px;
    }

    .smallTitle{
        font-size: 24px;
    }

    .desktop nav-bar{
        height: 100px !important;
    }

    .singleNews , .plusIcon{
        height: 150px !important;
    }

    .deleteNewsIcon , .plusIcon > i{
        font-size: 48px !important;
    }

    .navTitle{

        position: unset !important;
        margin-right: -40px !important;
    }

    .customButton{
        font-size: 1rem !important;
    }

    .ImagePreview {
        width: 200px !important;
        height: 200px !important;
    }


    .iconButton{
        font-size: 32px !important;
    }

    .navTitle{

        position: unset !important;
        font-size: 32px !important;
    }

    .formIconContainer{

        width: 48px !important;
        height: 48px !important;
        margin-left: 5px !important;
    }

    .fullHeight{
        min-height: calc(100vh - 100px) !important;
    }

    .bigIconOrders{
        font-size: 64px !important;
    }
}

@media only screen and (max-width: 470px) {
    .notificationsUserButton{
        right: 10px !important;
    }

    .gallery{
        grid-template-columns: repeat(60, 160px) !important;
        height: 200px !important;
    }

    .carouselItem{
        width: 160px !important;
        height: 175px !important;
    }

    .navTitle{
        position: absolute !important;
    }

    .orderList{
        padding: 0px !important;
    }

    .iconButton{
        width: 42px !important;
        height: 42px !important;
        font-size: 32px !important;
    }
    .input-group, .inputgroup{
        height: 50px !important;
    }

    .form-control{
        height: 50px !important;
    }

    .customInput{
        padding: 10px !important;
        font-size: 18px !important;
    }

    .desktop{
        width: 0 !important;
        height: 0 !important;
        border: none !important;
        overflow: hidden;
    }

    .dot2{
        display: none !important;
    }

    .dot1{
        display: block !important;
    }



    .mobile{
        width:auto !important;
        height: auto !important;
    }

    .mobile > img{
        max-height: 100px !important;
        height: 80px !important;
    }

    .mobile.nav-bar > img{
        margin-top: 25px !important;
    }

    .mobile.nav-bar{
        height: 98px !important;
        border-bottom: 3px solid var(--dark) !important;
    }

    .footerNavigation{
        height: 80px !important;
    }

    .main.desktopContainer.desktop{
        padding: 0px !important;
    }

    .container.main.mobile{
        margin: auto !important;
        padding-bottom: 100px;
        padding-top: 3rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .notificationsAdminButton{
        top: 130px !important;
        right: 10px !important;
    }

    .userMagicButton{
        height: 50px !important;
        width: 50px !important;
    }
}

@media only screen and (max-width: 380px) {
    .normalTextRegular{
        font-size: 15px !important;
    }

    .iconButton{
        width: 42px !important;
        height: 42px !important;
        font-size: 32px !important;
    }
    .input-group, .inputgroup{
        height: 50px !important;
    }

    .form-control{
        height: 50px !important;
    }

    .customInput{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 0px !important;
        padding-right: 5px !important;
        font-size: 15px !important;
    }

    .maxLenght{
        max-width: 100px !important;
    }

    .productImage{
        margin-right: 10px !important;
    }

    .actions{
        padding: 0px !important;
    }
}


@media only screen and (max-width: 350px) {
    .title{
        font-size: 28px;
    }

    .mobile.nav-bar {
        height: 90px !important;
    }

    .navTitle{
        font-size: 22px !important;
    }

    .smallTitle{
        font-size: 20px;
    }

    .nav-bar{
        height: 80px ;
    }

    .nav-bar > img{
        margin-top: 19px !important;
    }

    .singleNews , .plusIcon{
        height: 120px !important;
    }

    .deleteNewsIcon , .plusIcon > i{
        font-size: 40px !important;
    }

    .navTitle{
        margin-right: -20px !important;
    }

    .ImagePreview {
        width: 150px  !important;
        height: 150px  !important;
    }

}
