.singleNews {
    background-size: cover; /* Adatta l'immagine come sfondo */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    font-size: 30px;
    border-radius: 15px;
    height: 300px;
    width: auto;
    justify-content: center;
    overflow: hidden; /* Nasconde i contenuti che superano i bordi */
}

.singleNews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sovrapposizione semitrasparente nera */
    backdrop-filter: blur(5px); /* Effetto sfocato */
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Colore del testo */
    text-align: center;
    z-index: 2; /* Assicura che il testo sia sopra la sovrapposizione */
}

.deleteNewsBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deleteNewsIcon{
    font-size: 64px;
    color: var(--bg);
}