
.actionInTable{
    font-size: 26px !important;
    color: var(--dark);
}

.actionButton{
    cursor: pointer;
    padding: 0px;
    border: none;
    background-color: var(--bg);
}


.entryRow{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnNewSpin{
    padding-right:20px !important;
}