.nav-bar {
    position: relative;
    top: 0px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
    border-bottom: 3px solid var(--dark);
    box-shadow: 0px 5px 20px var(--light-text);
    background-color: var(--bg);
}

.navTitle {
    margin-right: -60px;
    z-index: 2;
}


.nav-bar > figure {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0px;
}

.nav-bar > figure > img {
    object-fit: cover;
    height: 85%;
    z-index: 1;
}

.nav-bar > img {
    height: calc(100% - 10px);
    display: flex;
    margin-top: 27px;
}

.navigationDesktop{
    display: flex;
    width: 60%;
}

.navigationDesktop > ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dot1{
    display: none;
}