.orderImage {
    font-size: 64px;
    color: var(--dark-text);
    fill: var(--dark-text);
    padding: 10px;
    border: 1px solid var(--dark-text);
    border-radius: 30px;
    margin-right: 20px;
    width: 86px;
    height: 86px;
}

.to-do-order {
    width: 100%;
    max-width: 340px;
    margin: 10px;
}

.user-order-card {
    display: flex;
    align-items: center;
}

.user-order-card figcaption {
    flex: 1;
}

.user-order-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

.user-order-details-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-order-image {
    width: 70%;
    aspect-ratio: 1 / 1;
    fill: var(--dark-text);
}

.user-order-image-container {
    padding: 0;
    margin: 0;
    margin-right: 5%;
    width: 25%;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--stroke);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-order-header {
    display: flex;
    max-width: inherit;
}

.to-do-order-body {
    padding: 0px;
    max-height: 150px;
    min-height: fit-content;
    overflow-y: auto;
    max-width: inherit;
    margin-bottom: 10px;
}

.to-do-order-footer{
    align-items: end;
}

.btnIcon{
    font-size: 20px;
}

.orderList {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
