.ImagePreview {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    display: flex;
}

.cover{
    background-color: var(--dark-text);
}

.noMarginLeftInput{
    padding-left: 0px !important;
}